@import "helpers/stylings/_index";

.wrapper {
  .container {
    @include media-query(pc) {
      min-height: 790px;
    }

    margin-top: 5px;
    position: relative;
    width: 100vw;
  }

  .workExpBG {
    @include media-query(pc) {
      height: 100%;
      position: absolute;
    }

    height: 50vh;
    width: 100%;
  }

  .workExpDetailsWrapper {
    @include media-query(pc) {
      background: rgba(0, 0, 0, 0.75);
      border-left: 3px solid #10e03a;
      border-top: 0px;
      padding: 30px;
      position: absolute;
      right: 0;
      width: 60%;
    }

    @include media-query(tl) {
      padding: 30px 60px;
    }

    background-color: #000000f5;
    border-top: 3px solid #10e03a;
    height: 100%;
    padding: 30px 20px;

    .workExpDetails {
      color: $textDefault;
      text-align: center;
      text-transform: uppercase;
      width: 100%;

      & > :first-child {
        margin-bottom: 40px;
        padding: 7px 0px;

        span {
          border-bottom: 1px solid #10e03a;
          border-top: 1px solid #10e03a;
          font-size: 40px;
          line-height: 50px;
          padding: 5px 10px;
        }
      }
      .workExpListWrapper {
        @include align-center;
        flex-direction: column;

        .workExpList {
          font-family: "Poppins";
          margin-bottom: 30px;

          .detail {
            background-color: rgba(0, 0, 0, 0.75);
            border: 1px solid $textDefault;
            border-radius: 10px;
            color: $textDefault;
            margin-bottom: 10px;
            max-width: 450px;
            padding: 10px;
            text-align: start;
          }

          img {
            background: $textDefault;
            border-radius: 10px;
            height: 60px;
            margin-bottom: 10px;
            padding: 10px;
          }
        }
      }

      .linkedin {
        @include align-center;
        font-family: "Poppins";
        font-size: 16px;
        text-transform: initial;

        img {
          cursor: pointer;
          height: 16px;
          padding: 0 10px;
        }
      }
    }
  }

  .showDetails {
    animation: fadeLeftIn 1.5s ease-in-out;
  }

  .hideDetails {
    opacity: 0;
  }
}

@keyframes fadeLeftIn {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
