@import "helpers/stylings/_index";

.wrapper {
  @include align-center;
  font-family: "Poppins";
  font-size: 20px;
  letter-spacing: 0.5px;

  & > div {
    border: 2px solid $textDefault;
    color: $textDefault;
    cursor: pointer;
    padding: 10px 15px;

    &:hover {
      border: 2px solid $textDefaultHover;
      color: $textDefaultHover;
    }
  }
}
