@import "helpers/stylings/_index";

.wrapper {
  @include media-query(sp) {
    flex-direction: column;
  }

  border-top: 1px solid #06fdf3;
  display: flex;
  justify-content: flex-end;
  width: 100vw;

  .workExpBG {
    height: 50vh;
    width: 100%;
  }

  .workExpDetailsWrapper {
    @include media-query(sp) {
      background-color: #1b2033;
      border-top: 7px solid #06fdf3;
      border-left: 0;
      height: 100%;
      padding: 50px 20px 30px;
      width: 100%;
    }

    background: rgba(10, 13, 21, 0.75);
    border-left: 7px solid #06fdf3;
    padding: 50px 30px 30px;
    width: 60%;

    .workExpDetails {
      @include align-center;
      color: $textDefault;
      flex-direction: column;
      text-align: center;
      width: 100%;

      & > :first-child {
        border-bottom: 1px solid #06fdf3;
        border-top: 1px solid #06fdf3;
        font-size: 40px;
        line-height: 50px;
        padding: 5px 10px;
        width: fit-content;
      }

      .workExpListWrapper {
        margin-top: 40px;

        @include align-center;
        flex-direction: column;

        .workExpList {
          font-family: "Poppins";
          margin-bottom: 30px;

          .detail {
            background-color: rgba(0, 0, 0, 0.75);
            border: 1px solid #06fdf3;
            border-radius: 10px;
            color: $textDefault;
            margin-bottom: 10px;
            max-width: 450px;
            padding: 10px;
            text-align: start;
          }

          img {
            background: $textDefault;
            border-radius: 10px;
            height: 60px;
            margin-bottom: 10px;
            padding: 10px;
          }
        }
      }

      .linkedin {
        @include align-center;
        font-family: "Poppins";
        font-size: 16px;

        img {
          height: 16px;
          padding: 0 10px;
        }
      }
    }
  }

  .showDetails {
    animation: fadeLeftIn 1.5s ease-in-out;
  }

  .hideDetails {
    opacity: 0;
  }
}

@keyframes fadeLeftIn {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
