@import "helpers/stylings/_index";

.wrapper {
  @include media-query(tl, sp) {
    flex-direction: column;
  }

  border-top: 1px solid #00aeff;
  display: flex;
  width: 100vw;

  .skillsBG {
    height: 50vh;
    width: 100%;
  }

  .skillsDetailsWrapper {
    @include media-query(pc) {
      background: rgba(10, 13, 21, 0.75);
      border-right: 7px solid #00aeff;
      border-top: 0;
      padding: 30px;
      width: 60%;
    }

    @include media-query(tl) {
      padding: 30px 60px;
    }

    background-color: #232942;
    border-top: 7px solid #00aeff;
    height: 100%;
    padding: 30px 20px;

    .skillsDetails {
      color: $textDefault;
      text-align: center;
      text-transform: uppercase;
      width: 100%;

      & > :first-child {
        margin-bottom: 40px;
        padding: 7px 0px;

        span {
          border-bottom: 1px solid $textScrolled;
          border-top: 1px solid $textScrolled;
          font-size: 40px;
          line-height: 50px;
          padding: 5px 10px;
        }
      }
      .skillsListWrapper {
        .skillsListContainer {
          @include align-center;
          flex-wrap: wrap;
        }

        .skillsList {
          @include media-query(pc, tl) {
            padding: 0 10px;
          }

          font-family: "Poppins";
          margin-bottom: 30px;

          .title {
            font-size: 25px;
            letter-spacing: 1px;
            margin-bottom: 10px;
          }

          .detail {
            @include align-center;
            @include media-query(pc) {
              background-color: rgba(0, 0, 0, 0.75);
              color: $textDefault;
              height: 120px;
              min-width: 200px;
            }

            @include media-query(sp) {
              max-width: 420px;
              min-height: 0;
            }

            color: #000000;
            background-color: $textDefault;
            border-radius: 10px;
            margin-bottom: 10px;
            min-height: 100px;
            min-width: 300px;
            max-width: 300px;
            padding: 10px;
          }

          img {
            filter: invert(0.55) sepia(1) saturate(9) hue-rotate(180deg);
            height: 60px;
            width: 60px;
          }
        }
      }
    }
  }

  .showDetails {
    animation: fadeLeftIn 1.5s ease-in-out;
  }

  .hideDetails {
    opacity: 0;
  }
}

@keyframes fadeLeftIn {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
