@import "helpers/stylings/_index";

.wrapper {
  @include media-query(sp) {
    flex-direction: column;
  }

  border-top: 1px solid #00aeff;
  display: flex;
  width: 100vw;

  .skillsBG {
    height: 50vh;
    width: 100%;
  }

  .skillsDetailsWrapper {
    @include media-query(sp) {
      background-color: #232942;
      border-top: 7px solid #00aeff;
      border-right: 0;
      height: 100%;
      padding: 50px 20px 30px;
      width: 100%;
    }

    background: rgba(10, 13, 21, 0.75);
    border-right: 7px solid #00aeff;
    padding: 50px 30px 30px;
    width: 60%;

    .skillsDetails {
      @include align-center;
      color: $textDefault;
      flex-direction: column;
      text-align: center;
      text-transform: uppercase;
      width: 100%;

      & > :first-child {
        border-bottom: 1px solid $textScrolled;
        border-top: 1px solid $textScrolled;
        font-size: 40px;
        line-height: 50px;
        padding: 5px 10px;
        width: fit-content;
      }

      .skillsListWrapper {
        margin-top: 40px;

        .skillsListContainer {
          @include align-center;
          flex-wrap: wrap;
        }

        .skillsList {
          @include media-query(pc, tl) {
            padding: 0 10px;
          }

          font-family: "Poppins";
          margin-bottom: 30px;

          .title {
            font-size: 25px;
            letter-spacing: 1px;
          }

          .detail {
            @include align-center;
            @include media-query(pc) {
              height: 120px;
              min-width: 200px;
            }

            @include media-query(sp) {
              max-width: 420px;
              min-height: 0;
            }

            background-color: rgba(0, 0, 0, 0.75);
            border: 1px solid $textScrolled;
            border-radius: 10px;
            color: $textDefault;
            min-height: 100px;
            min-width: 300px;
            max-width: 300px;
            padding: 10px;
          }

          img {
            filter: invert(0.55) sepia(1) saturate(9) hue-rotate(180deg);
            height: 60px;
            width: 60px;
          }
        }
      }

      .custonButton {
        & > div {
          transition: 0.2s ease-in-out;

          &:hover {
            border: 2px solid $textScrolled;
            color: $textScrolled;
            transition: 0.2s ease-in-out;
          }
        }
      }
    }
  }

  .showDetails {
    animation: fadeLeftIn 1.5s ease-in-out;
  }

  .hideDetails {
    opacity: 0;
  }
}

@keyframes fadeLeftIn {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
