@import "helpers/stylings/_index";

.wrapper {
  @include align-center;
  @include media-query(pc) {
    padding: 30px 100px 60px;
  }

  @include media-query(tl) {
    padding: 30px 60px 60px;
  }

  background-color: #05060a;
  border-top: 7px solid #709bc3;
  color: $textDefault;
  flex-direction: column;
  padding: 30px 20px 60px;

  .title {
    border-bottom: 1px solid #709bc3;
    border-top: 1px solid #709bc3;
    font-size: 40px;
    margin-bottom: 40px;
    padding: 5px 10px;
  }

  .content {
    @include align-center;
    flex-direction: column;
    font-family: "Poppins";
    font-size: 20px;
    max-width: 550px;
    text-align: center;

    a {
      color: $textScrolled;
    }
  }
}
