@import "helpers/stylings/_index";

.wrapper {
  border-top: 7px solid #8cff9c;

  .container {
    @include align-center;
    background-color: #0c0f19;
    color: $textDefault;
    flex-direction: column;
    padding-top: 50px;

    & > :first-child {
      border-bottom: 1px solid #8cff9c;
      border-top: 1px solid #8cff9c;
      font-size: 40px;
      line-height: 50px;
      padding: 5px 10px;
      width: fit-content;
    }

    .details {
      @include media-query(pc) {
        padding: 0 100px 50px;
      }

      @include media-query(tl) {
        padding: 0 60px 50px;
      }

      display: flex;
      justify-content: center;
      padding: 0 20px 50px;
      width: 100vw;
    }

    .fsListWrapper {
      @include align-center;
      flex-direction: column;
      margin-top: 40px;

      .fsListTitle {
        @include align-center;
        flex-direction: column;
        font-family: "Poppins";
        font-size: 30px;
        margin-bottom: 20px;

        img {
          filter: invert(0.8) sepia(1) saturate(2) hue-rotate(51deg);
          height: 80px;
          margin-bottom: 10px;
          width: 80px;
        }
      }
    }
  }
}
