@import "helpers/stylings/_index";

.wrapper {
  margin-top: 5px;

  .container {
    background-color: #000000f5;
    color: $textDefault;
    padding-top: 30px;

    & > :first-child {
      @include align-center;
      margin-bottom: 40px;
      padding: 7px 0px;

      span {
        border-bottom: 1px solid #e01010;
        border-top: 1px solid #e01010;
        font-size: 40px;
        line-height: 50px;
        padding: 5px 10px;
      }
    }

    .details {
      @include media-query(pc) {
        padding: 0 100px 30px;
      }

      @include media-query(tl) {
        padding: 0 60px 30px;
      }

      display: flex;
      justify-content: center;
      padding: 0 20px 30px;
      width: 100%;
    }

    .fsListWrapper {
      @include align-center;
      flex-direction: column;

      .fsListTitle {
        @include align-center;
        flex-direction: column;
        font-family: "Poppins";
        font-size: 30px;
        margin-bottom: 20px;
        text-transform: uppercase;

        img {
          filter: invert(0.5) sepia(1) saturate(50) hue-rotate(330deg);
          height: 80px;
          margin-bottom: 10px;
          width: 80px;
        }
      }
    }
  }
}
