@import "helpers/stylings/_index";

.wrapper {
  margin-top: 5px;

  .container {
    background-color: #000000f5;
    color: $textDefault;
    padding-top: 30px;

    & > :first-child {
      @include align-center;
      margin-bottom: 40px;
      padding: 7px 0px;

      span {
        border-bottom: 1px solid #d4ff01;
        border-top: 1px solid #d4ff01;
        font-size: 40px;
        line-height: 50px;
        padding: 5px 10px;
      }
    }

    .details {
      @include media-query(pc) {
        padding: 0 100px 30px;
      }

      @include media-query(tl) {
        padding: 0 60px 30px;
      }

      padding: 0 20px 30px;
    }
  }
}
