@import "helpers/stylings/_index";

.wrapper {
  margin-top: 5px;

  .container {
    background-color: #000000f5;
    color: $textDefault;
    padding: 30px 0;

    & > :first-child {
      @include align-center;
      margin-bottom: 40px;

      span {
        border-bottom: 1px solid #a610e0;
        border-top: 1px solid #a610e0;
        font-size: 40px;
        line-height: 50px;
        padding: 5px 10px;
        text-transform: uppercase;
      }
    }

    .projectsListWrapper {
      font-family: "Poppins";
      width: 100%;

      .projectsListContainer {
        @include align-center;
        flex-direction: column;
        margin-bottom: 30px;

        & > :first-child {
          @include align-center;
          flex-direction: column;
          font-size: 30px;
          letter-spacing: 1px;
          margin-bottom: 20px;
          text-transform: uppercase;

          img {
            filter: invert(0.55) sepia(1) saturate(10) hue-rotate(215deg);
            height: 80px;
            margin-bottom: 10px;
            width: 80px;
          }
        }

        & > :last-child {
          @include media-query(pc, tl) {
            @include align-center;
          }
          height: 100%;
          width: 100%;
        }

        .projectBG {
          @include align-center;

          @include media-query(sp) {
            width: 100%;
          }

          cursor: pointer;
          color: $textDefault;
          flex-direction: column;
          height: 300px;
          position: relative;
          width: 33.33%;

          &:before {
            content: "";
            height: 100%;
            opacity: 0.9;
            position: absolute;
            transition: 0.5s ease;
            width: 100%;
          }

          &:hover:before {
            background-color: rgba(0, 0, 0, 0.5);
          }

          & > :first-child {
            padding: 0 10px;
            position: absolute;
            text-align: center;

            & > :first-child {
              font-size: 20px;
              margin-bottom: 10px;
              padding-bottom: 10px;
            }

            hr {
              border-top: 1px solid $textDefault;
              width: 50px;
            }
          }
        }
      }
    }
  }
}
