@import "helpers/stylings/_index";

.wrapper {
  margin-top: 5px;

  .container {
    background-color: #000000f5;
    color: $textDefault;
    padding: 30px 0;

    & > :first-child {
      @include align-center;
      margin-bottom: 40px;
      padding: 7px 0px;

      span {
        border-bottom: 1px solid #a610e0;
        border-top: 1px solid #a610e0;
        font-size: 40px;
        line-height: 50px;
        padding: 5px 10px;
        text-transform: uppercase;
      }
    }

    .projectsListWrapper {
      font-family: "Poppins";
      width: 100%;

      .projectsListContainer {
        @include align-center;
        flex-direction: column;
        margin-bottom: 30px;

        & > :first-child {
          @include align-center;
          flex-direction: column;
          font-size: 30px;
          letter-spacing: 1px;
          margin-bottom: 20px;
          text-transform: uppercase;

          img {
            filter: invert(0.55) sepia(1) saturate(10) hue-rotate(215deg);
            height: 80px;
            width: 80px;
          }
        }

        & > :last-child {
          @include align-center;
          height: 100%;
          width: 100%;
        }

        .projectBG {
          @include align-center;
          cursor: pointer;
          flex-direction: column;
          height: 300px;
          width: 33.33%;
          position: relative;
          color: $textDefault;

          &:before {
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            transition: 0.5s ease;
            opacity: 0.9;
          }

          &:hover:before {
            background-color: unset;
          }

          & > :first-child {
            text-align: center;
            position: absolute;
            padding: 0 10px;
          }
        }
      }
    }
  }
}
