// TEXT COLOR
$textDefault: rgb(227, 246, 255);
$textDefaultHover: #5fcbff;
$textScrolled: rgb(0, 173, 255);

// Font Sizes
$fontTitle: 60px;
$fontSubTitle: 30px;

// BG Colors
.blueBG:before {
  background-color: #6fc3df;
}

.purpleBG:before {
  background-color: #8d82c4;
}

.orangeBG:before {
  background-color: #ec8d81;
}

.greenBG:before {
  background-color: #87c5a4;
}
