// TEXT COLOR
$textDefault: rgb(227, 246, 255);
$textDefaultHover: #5fcbff;
$textScrolled: rgb(0, 173, 255);

// Font Sizes
$fontTitle: 60px;
$fontSubTitle: 30px;

// BG Colors
.blueBG:before {
  background-color: #6fc3df;
}

.purpleBG:before {
  background-color: #8d82c4;
}

.orangeBG:before {
  background-color: #ec8d81;
}

.greenBG:before {
  background-color: #87c5a4;
}

.yellowBG:before {
  background-color: #b4ce4b;
}

.redBG:before {
  background-color: #f74b4b;
}

.showFadeUp {
  animation: fadeUp 1.5s ease-in-out;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
