@import "helpers/stylings/_index";

.wrapper {
  background-color: #ffffff70;
  border-radius: 5px;
  height: 30px;
  margin-bottom: 10px;
  width: 300px;

  & > :first-child {
    align-items: center;
    display: flex;
    height: 30px;
    justify-content: space-between;
    padding: 0 10px;
    position: absolute;
    width: 300px;
  }

  & > :last-child {
    background-color: rgb(210, 71, 255);
    border-radius: 5px;
    height: 100%;
    width: 80%;
  }
}
