@import "helpers/stylings/_index";

.wrapper {
  position: fixed;
  width: 100vw;
  z-index: 99;

  .scrolled {
    background: rgba(0, 0, 0, 0.7);
  }

  .defaultMenuList {
    color: $textDefault;

    &:hover {
      color: $textDefaultHover;
    }
  }

  .scrolledMenuList {
    color: $textScrolled;

    &:hover {
      color: $textDefault;
    }
  }

  .selectedMenuDefault {
    color: $textDefault;
  }

  .selectedMenuScrolled {
    color: $textDefaultHover;
  }

  .container {
    @include media-query(pc) {
      padding: 10px 100px;
    }

    @include media-query(tl) {
      padding: 10px 60px;
    }

    transition: 0.7s ease-in-out;
    padding: 10px 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .myName {
      height: 60px;
      & > img {
        cursor: pointer;
        transition: 0.25s ease-in-out;
        height: 100%;
      }
    }

    .menuList {
      @include media-query(pc) {
        min-width: 595px;
      }

      & > span {
        font-weight: 600;
        text-transform: uppercase;
        transition: 0.25s ease-in-out;
        font-size: 18px;
        cursor: pointer;

        &:not(:last-child) {
          margin-right: 15px;
        }
      }
    }

    .menuContainer {
      @include align-center;
      cursor: pointer;

      &:hover {
        & > div > span {
          background: $textDefaultHover;
        }
        & > span {
          color: $textDefaultHover;
        }
      }

      .menuName {
        color: $textDefault;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 18px;
        padding-right: 20px;
        transition: 0.25s ease-in-out;
      }

      .burgerMenu > span {
        background: $textDefault;
        border-radius: 3px;
        display: block;
        height: 5px;
        margin-bottom: 2px;
        transition: 0.25s ease-in-out;
        width: 30px;
      }
    }
  }

  .spMenuWrapper {
    @include align-center;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: 0.2s ease-in;

    .spMenuClose {
      margin-right: 10px;
      position: fixed;
      top: 25px;
      right: 25px;
      cursor: pointer;
      z-index: 1;

      & > span {
        background: $textDefault;
        border-radius: 3px;
        display: block;
        height: 5px;
        width: 30px;
      }

      & > :first-child {
        transform: rotate(-45deg) translate(0px, 5px);
      }
      & > :last-child {
        transform: rotate(45deg) translate(2px, -4px);
      }
    }

    .spMenuContainer {
      height: 100vh;
      position: absolute;
      width: 100vw;
    }

    .spMenuList {
      z-index: 1;

      & > div {
        font-weight: 600;
        text-transform: uppercase;
        font-size: 18px;
        cursor: pointer;
        text-align: center;
        padding: 15px 50px;
        border-bottom: 1px solid #e3f6ff5e;
      }
    }
  }
}
