@import "helpers/stylings/_index";

.wrapper {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100vw;
  z-index: 99;

  .scrolled {
    background: rgba(0, 0, 0, 0.7);
  }

  .defaultMenuList {
    & > span {
      color: $headerTextDefault;

      &:hover {
        color: $headerTextDefaultHover;
      }
    }
  }

  .scrolledMenuList {
    & > span {
      color: $headerTextScrolled;

      &:hover {
        color: $headerTextDefault;
      }
    }
  }

  .container {
    @include media-query(pc) {
      padding: 15px 100px;
    }

    @include media-query(tl) {
      padding: 15px 60px;
    }

    transition: 0.7s ease-in-out;
    padding: 15px 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .myName {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 20px;
      cursor: pointer;
      transition: 0.25s ease-in-out;
      padding-right: 15px;
      color: $headerTextDefault;

      &:hover {
        color: $headerTextDefaultHover;
      }
    }

    .menuList {
      @include media-query(pc) {
        min-width: 595px;
      }

      & > span {
        font-weight: 600;
        text-transform: uppercase;
        transition: 0.25s ease-in-out;
        font-size: 15px;
        cursor: pointer;

        &:not(:last-child) {
          margin-right: 15px;
        }
      }
    }

    .menuContainer {
      @include align-center;
      cursor: pointer;

      &:hover {
        & > div > span {
          background: $headerTextDefaultHover;
        }
        & > span {
          color: $headerTextDefaultHover;
        }
      }

      .menuName {
        color: $headerTextDefault;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 18px;
        padding-right: 20px;
        transition: 0.25s ease-in-out;
      }

      .burgerMenu {
        margin-right: 10px;

        & > span {
          background: $headerTextDefault;
          border-radius: 3px;
          display: block;
          height: 5px;
          margin-bottom: 2px;
          transition: 0.25s ease-in-out;
          width: 30px;
        }
      }

      .burgerMenuToggle {
        & > :first-child {
          transform: rotate(-45deg) translate(-5px, 5px);
        }
        & > :nth-child(2) {
          opacity: 0;
        }
        & > :last-child {
          transform: rotate(45deg) translate(-4px, -5px);
        }
      }
    }
  }
}
