@import "helpers/stylings/_index";

.wrapper {
  .container {
    @include align-center;
    height: 100vh;
    position: relative;
    width: 100vw;
  }

  .bannerImg {
    height: 100%;
    position: absolute;
    width: 100%;
    // will-change: opacity;
  }

  .bannerTextWrapper {
    @include align-center;
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.75);

    .bannerTextContainer {
      text-align: center;
      text-transform: uppercase;
      color: $textDefault;
      font-family: "Concert One";
      padding: 0 20px;

      & > :first-child {
        font-size: 44px;
        border-bottom: 1px solid $textScrolled;
        border-top: 1px solid $textScrolled;
        padding: 20px;
        margin-bottom: 10px;
      }

      & > :not(:first-child) {
        font-family: "Poppins";
        letter-spacing: 0.5px;
        line-height: 50px;
        font-size: 20px;
      }

      .textWithImage {
        color: $textScrolled;
        & > img {
          width: 25px;
          height: 25px;
          margin: 0 8px;
        }
      }

      & > :last-child {
        @include align-center;
        margin-top: 15px;

        & > div {
          @include align-center;
          border: 2px solid $textDefault;
          color: $textDefault;
          padding: 0 15px;
          cursor: pointer;

          &:hover {
            border: 2px solid $textDefaultHover;
            color: $textDefaultHover;

            & > :last-child {
              filter: invert(0.65) sepia(1) saturate(5) hue-rotate(175deg);
            }
          }

          & > :last-child {
            width: 25px;
            height: 25px;
            margin-left: 10px;
            background-image: url("assets/svg/arrowDown.svg");
            filter: invert(0.95) sepia(1) saturate(5) hue-rotate(170deg);
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
          }
        }
      }
    }
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotateX(0deg);
  }
  100% {
    -webkit-transform: rotateX(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
