@import "helpers/stylings/_index";

.wrapper {
  @include media-query(pc) {
    padding: 80px 100px 30px;
  }

  @include media-query(tl) {
    padding: 80px 60px 30px;
  }

  padding: 80px 20px 30px;
  background: url("https://firebasestorage.googleapis.com/v0/b/jcgonzaga01githubio.appspot.com/o/homeBG%2FaboutMe.jpg?alt=media&token=7f1876c7-1bae-45ab-8410-accc4b5319cc");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}
