@import "helpers/stylings/_index";

.wrapper {
  @include align-center;
  height: 100vh;
  min-height: 600px;
  width: 100vw;

  .bannerTextWrapper {
    @include align-center;
    animation: fadeShadow 2s ease-in-out forwards 0.5s;
    background-color: #05060a;
    height: 100%;
    width: 100%;

    .bannerTextContainer {
      @include align-center;
      flex-direction: column;
      @include media-query(pc) {
        padding: 0 100px;
      }

      @include media-query(tl) {
        padding: 0 60px;
      }

      color: $textDefault;
      padding: 0 20px;
      text-align: center;

      & > :first-child {
        border-bottom: 1px solid $textScrolled;
        border-top: 1px solid $textScrolled;
        font-size: 44px;
        font-weight: normal;
        line-height: 50px;
        margin: 0 0 10px;
        padding: 20px;
        width: fit-content;
      }

      & > :not(:first-child) {
        @include align-center;
        flex-wrap: wrap;
        font-family: "Poppins";
        font-size: 20px;
        font-weight: normal;
        letter-spacing: 0.5px;
        padding: 10px 0;
        margin: 0;
      }

      .textWithImage {
        color: $textScrolled;
        margin-right: 10px;
      }

      & > :last-child {
        @include align-center;
        border: 2px solid $textDefault;
        color: $textDefault;
        cursor: pointer;
        margin: 15px auto 0;
        padding: 5px 15px;
        text-transform: uppercase;
        transition: 0.2s ease-in-out;
        width: fit-content;

        &:hover {
          border: 2px solid $textDefaultHover;
          color: $textDefaultHover;
          transition: 0.2s ease-in-out;

          & > :last-child {
            filter: invert(0.65) sepia(1) saturate(5) hue-rotate(175deg);
          }
        }

        & > :last-child {
          -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
          background-image: url("assets/svg/arrowDown.svg");
          filter: invert(0.95) sepia(1) saturate(5) hue-rotate(170deg);
          height: 25px;
          margin-left: 10px;
          transition: 0.2s ease-in-out;
          width: 25px;
        }
      }
    }
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotateX(0deg);
  }
  100% {
    -webkit-transform: rotateX(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@keyframes fadeShadow {
  from {
    background-color: #05060a;
  }
  to {
    background-color: rgba(10, 13, 21, 0.75);
  }
}
