@import "helpers/stylings/_index";

.wrapper {
  // TODOs:
  // Temporary, to be removed
  background-color: rgba(255, 255, 255, 0.301);
  height: 200vh;
  width: 100vw;

  .container {
    .children {
      @include media-query(pc) {
        margin: 0 100px;
      }

      @include media-query(tl) {
        margin: 0 60px;
      }

      margin: 0 20px;
      padding-top: 60px;
    }
  }
}
