@import "helpers/stylings/_index";

.wrapper {
  display: flex;

  .arrowBtn {
    @include align-center;
    cursor: pointer;
    z-index: 1;

    &:hover {
      img {
        filter: invert(0.55) sepia(1) saturate(9) hue-rotate(180deg);
        transition: 0.5s ease;
      }
    }

    img {
      height: 45px;
      filter: invert(0.85) sepia(1) saturate(9) hue-rotate(180deg);
      transition: 0.5s ease;
      width: 45px;
    }
  }

  .leftBtnShadow {
    background: linear-gradient(
      to right,
      rgba(10, 10, 10, 0.95),
      rgba(10, 10, 10, 0.8),
      rgba(10, 10, 10, 0.6),
      rgba(10, 10, 10, 0.4),
      rgba(10, 10, 10, 0.05)
    );
    min-width: 30px;
    z-index: 1;
  }

  .rightBtnShadow {
    background: linear-gradient(
      to right,
      rgba(10, 10, 10, 0.05),
      rgba(10, 10, 10, 0.4),
      rgba(10, 10, 10, 0.6),
      rgba(10, 10, 10, 0.8),
      rgba(10, 10, 10, 0.95)
    );
    min-width: 30px;
    z-index: 1;
  }

  .sliderItemsWrapper {
    margin: 0 -30px;
    overflow: auto;
    padding: 0 30px;

    .sliderItemsContainer {
      display: flex;
      transition: 0.6s ease-in-out;

      & > div {
        margin-right: 30px;
      }
    }
  }
}
